		<div style="border: solid 1px #CCC;margin: 0 auto 30px;padding: 20px;">
			<p style="margin: 0 auto 10px;">コメント対象の記事</p>
			<p style="margin: 0 auto 10px;">ID : <?php echo $post["id"];?></p>
			<p style="margin: 0 auto 10px;">タイトル : <?php echo nl2br($post["title"]);?></p>
			<p style="margin: 0 auto;">本文 : <?php echo $post["content"];?></p>
		</div>

		<form action="comment.php" method="post">
			<section class="article">
				<h2 class="article__title">コメント投稿</h2>
				
				<div class="article__post">
					<div class="article__postSet">
						<p>お名前</p>
						<p><input type="text" name="name" size="40"></p>
					</div>

					<div class="article__postSet">
						<p>コメント</p>
						<p><textarea name="content" row="8" cols="40"></textarea></p>
					</div>

					<div class="article__postSet">
						<p>
							<input type="hidden" name="post_id" value="<?php echo $post_id;?>">
							<input class="article__submit" name="submit" type="submit" value="投稿">
						</p>
						<?php if($error):?>
		    		<p><?php echo $error;?></p>
		    		<?php endif;?>
		    	</div>
		    </div>

			</section>
		</form>